<footer id="footer" class="footer">
  <div class="footer-segs">
    <div id="footer-seg-1" class="footer-seg">
      <h2>Hallo, Welt!</h2>
      <p>
        That's "Hello, World!" in German.
      </p>
    </div>
    <div class="footer-seg">
      <p>
        I think it's interesting to know what powers a site, check the Source link below for the repository!
      </p>
      <div class="footer-links">
        {% for footerLink in footerLinks %}
        {% set firstCharOfHref = (footerLink.href | first) %}
        <a class="footer-link" {% if firstCharOfHref != "/" %} target="_blank" {% endif %} rel="noopener noreferrer" id="footer-link-item-{{ loop.index }}" href="{{ footerLink.href }}">
          {{ footerLink.title }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="footer-cool-shit">
    <img src="/cool-shit/dividers/green-arrow-divider.gif" alt="An animated green arrow divider" style="margin-bottom: 6px;" />

    <div class="footer-buttons">
      {% for button in coolShit.buttons %}
      {% if button.href %}<a href="{{ button.href }}" rel="noopener noreferrer" target="_blank">{% endif %}
        <img src="{% if not (button.src | startsWith('http://')) or not (button.src | startsWith('https://')) %}/cool-shit/buttons/{% endif %}{{ button.src }}" alt="{{ button.alt }}" />
      {% if button.href %}</a>{% endif %}
      {% endfor %}
      {% if buildData.isNeocities %}
        <a href="https://neocities.org/" rel="noopener noreferrer" target="_blank">
          <img src="/cool-shit/buttons/hosted-on-neocities.gif" alt="Hosted on Neocities!" />
        </a>
      {% endif %}
    </div>

    <div class="footer-blinkies">
      {% for blinkie in coolShit.blinkies %}
      {% if blinkie.href %}<a href="{{ blinkie.href }}" rel="noopener noreferrer" target="_blank">{% endif %}
        <img src="{% if not (blinkie.src | startsWith(blinkie.src, 'http://')) or not (blinkie.src | startsWith('https://')) %}/cool-shit/blinkies/{% endif %}{{ blinkie.src }}" alt="{{ blinkie.alt }}" />
      {% if blinkie.href %}</a>{% endif %}
      {% endfor %}
    </div>

    <div class="footer-stamps">
      {% for stamp in coolShit.stamps %}
      {% if stamp.href %}<a href="{{ stamp.href }}" rel="noopener noreferrer" target="_blank">{% endif %}
        <img src="{% if not (stamp.src | startsWith(blinkie.src, 'http://')) or not (stamp.src | startsWith('https://')) %}/cool-shit/stamps/{% endif %}{{ stamp.src }}" alt="{{ stamp.alt }}" />
      {% if stamp.href %}</a>{% endif %}
      {% endfor %}
    </div>

    <p style="margin-top: 12px;">Blinkie Sources:</p>
    <div class="footer-sources">
      {% for source in coolShit.sources %}
      <a href="{{ source.href }}" rel="noopener noreferrer" target="_blank">
        {% if source.img %}
        <img src="{{ source.img }}" alt="{{ source.title }}" />
        {% else %}
        {{ source.title }}
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
  <p class="copyright">&copy; 2022-2026 Reboot/Fitz.</p>
</footer>
