:root {
  --markdown-content-gap: 5px;
  --markdown-p-pb-raw: 25px;
  --markdown-p-pb: calc(var(--markdown-p-pb-raw) - var(--markdown-content-gap));
}

.md-block {
  display: grid;
  gap: --markdown-content-gap;
  line-height: 1.5;

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: var(--color);
  }

  p {
    font-weight: normal;
    margin-bottom: var(--markdown-p-pb);
  }

  a {
    @media (prefers-color-scheme: light) {
      color: var(--green-600);
    }
    @media (prefers-color-scheme: dark) {
      color: var(--green-300);
    }
  }
  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: var(--step-up-6);
    font-weight: bold;
  }
  h2 {
    font-size: var(--step-up-5);
    font-weight: bold;
  }
  h3 {
    font-size: var(--step-up-4);
    font-weight: bold;
  }
  h4 {
    font-size: var(--step-up-3);
    font-weight: bold;
  }
  h5 {
    font-size: var(--step-up-2);
    font-weight: bold;
  }
  h6 {
    font-size: var(--step-up-1);
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
    margin-bottom: 1%;
  }

  ol,
  ul {
    list-style: initial;
    list-style-position: outside;
    padding-bottom: var(--markdown-p-pb);
    margin-left: 2.5ch;
  }

  pre,
  code {
    font-size: var(--step-down-1);
  }

  hr {
    border-style: none;
    border-top: 1px solid var(--color);
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  .twitter-tweet {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color);
    margin: 20px 10px;
    padding: 30px;
    border-radius: 12px;
    color: var(--color);
  }
}
