---
layout: base.njk
isBlog: true
useContainer: true
---

<h1 class="big-post-title">{{ title }}</h1>
{% if description %}
<p class="big-post-description" style="margin-bottom: 6px;">{{ description }}</p>
{% endif %}

<p style="margin-bottom: 12px;">on {{ page.date | formatDate }}, takes {{ content | timeToRead }} to read.</p>

<h2>Tags</h2>
{% if ((tags | length) > 1) %}
<ul>
  {% for tag in tags %}
    {% if tag != "post" %}
      {% if (tag | startsWith("project:")) %}
        <li><a href="/projects/{{ tag | strSlice(8) }}">Project: {% for project in collections.allProjects %}{% if (project.data.projectId == (tag | strSlice(8))) %}{{ project.data.title }}{% endif %}{% endfor %}</a></li>
      {% else %}
        <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
{% else %}
<p>No tags</p>
{% endif %}

{% if (openGraph.imgUrl) %}
<img id="ogimage" class="og-image" src="{{ openGraph.imgUrl }}">
{% endif %}

<div id="post-content" class="content">
{{ content | safe }}
<div>
