---
layout: base.njk
isProject: true
pagination:
  size: 10
useContainer: true
---

<h1>{{ title }}</h1>

{% if (sourceUrl or projectSite) %}
<ul style="margin-bottom: 24px;">
  {% if sourceUrl %}
    <li><a href="{{ sourceUrl }}" target="_blank" rel="noopener noreferrer">Source Code</a></li>
  {% endif %}
  {% if projectSite %}
    <li><a href="{{ projectSite }}" target="_blank" rel="noopener noreferrer">Project Website</a></li>
  {% endif %}
</ul>
{% endif %}

{{ content | safe }}


<h2 style="margin-top: 24px;">Posts</h2>

<p>All blog posts that reference {{title}}, ordered oldest to newest.</p>

<div id="posts-list" class="post-list">
{%- for item in pagination.items %}
  {% if item.data.published != false %}
    <a id="post-{{ loop.index }}" class="post transition" href="{{ item.page.url }}">
      <p>{{ item.data.title }}</p>
      <p>on {{ item.page.date | formatDate }}, takes {{ item.content | timeToRead }} to read.</p>
    </a>
  {% endif %}
{% endfor -%}
</div>

{% include "components/pagination.njk" %}
