---
title: Disclaimer
---

<div class="hero-section">
  <div class="home-section-heading">
    <h1>Disclaimer</h1>
    <p>
      We have some very direct opinions. By further viewing/usage/discussion of this site and the content within it, you agree to this social and legaly binding disclaimer.
    </p>
  </div>
  <div class="home-section-card-content-1-col">
    <p>
      You agree that this site is open source, and designed primarily for educational and comedic/satirical purposes under the Fair Use doctrine described in all major copyright laws, including those that apply in the United States of America and major European Union countries like, and especially including Germany.
    </p>
    <p>
      Any viewing/usage/discussion of content distributed/promoted/mentioned by this site is understood to be of the user's sole accord. This site, it's developer(s), hosting service, 2nd and 3rd parties, etc are not responsible for actions relating the afformentioned in any way shape or form.
    </p>
    <p>
      By engaging with site and any majorly or minorly related properties (including works by the creator/developer of this site), you agree that there may be unseen reasons for creation/further development of this, and other works; and that you have the agency to disconnect the work from those reasons if you find it enjoyable/useful for something else. The creator is a "bad person," and as such, may choose not to provide those core reasons to any "users"/"viewers"/etc..., you have been warned. This especially applies to any 3rd party disclosures of said reasons. By continuing to interact, you acknowlege this, and understand that outrage is unwaranted as the owner/creator/developer/etc of this site and related works does not have a proper understanding of most, if not all social/societal rules.
    </p>
  </div>
</div>
