---
title: Posts
isBlog: true
pagination:
  data: collections.allPosts
  size: 10
---

<h1>The DIY Bog</h1>

<p>
  Tumblr is full of some cool people, but project posts get lost in the noise. Everywhere else is designed for 250 chars or less, and get even MORE lost. And we're not running this on google's servers. So, meet our blog!
</p>

<h2>Tags</h2>

{% if ((collections.all | getAllTags | filterTagList) | length) > 0 %}
<p>Find posts on a specific subject. (Relies on us... remebering to tag things, you can make a PR about it if you really need something updated.)</p>

<ul>
  {% for tag in collections.all | getAllTags | filterTagList %}
    <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No tags yet...</p>
{% endif %}

<h2>Posts</h2>

<div id="posts-list" class="post-list">
{%- for item in pagination.items %}
  <a id="post-{{ loop.index }}" href="{{ item.page.url }}" class="post transition">
    <p>{{ item.data.title }}</p>
    <p>on {{ item.page.date | formatDate }}, takes {{ item.content | timeToRead }} to read.</p>
  </a>
{% endfor -%}
</div>

{% include "components/pagination.njk" %}
