---
title: Projects
isProject: true
pagination:
  data: collections.allProjects
  size: 10
---

<h1>{{ title }}</h1>

<p>All the stuff we've made!</p>

<div id="posts-list" class="post-list">
{%- for item in pagination.items %}
  <article id="post-{{ loop.index }}" class="post">
    <a href="{{ item.page.url }}">{{ item.data.title }}</a>
    <p>{{ item.data.description }}</p>
  </article>
{% endfor -%}
</div>


{% include "components/pagination.njk" %}
