---
title: Projects
isProject: true
pagination:
  data: collections.allProjects
  size: 10
---

<h1>{{ title }}</h1>

<p>All the stuff we've made!</p>

<div id="posts-list" class="post-list">
{%- for item in pagination.items %}
  <a id="post-{{ loop.index }}" class="post transition" href="{{ item.page.url }}">
    <p>{{ item.data.title }}</p>
    <p>{{ item.data.description }}</p>
  </a>
{% endfor -%}
</div>


{% include "components/pagination.njk" %}
