---
title: OxiFluxion
projectId: oxifluxion
description: "A precision math library written in rust, and an application to use it."
sourceUrl: "https://github.com/Reboot-Codes/oxifluxion"
projectSite: "https://oxifluxion.reboot-codes.com/"
pagination:
  data: collections.project:oxifluxion
tags:
  - featuredProject
---

A precision math library written in rust, and an application to use it.
