---
title: RCGI
projectId: rcgi
description: "RCGI, or reboot-codes.github.io is our website and is statically generated, and sso optimized."
sourceUrl: "https://github.com/Reboot-Codes/reboot-codes.github.io"
pagination:
  data: collections.project:rcgi
tags:
  - featuredProject
---

RCGI, or reboot-codes.github.io is our website and is statically generated, and sso optimized.
