---
title: Taurus
projectId: taurus
description: "Accelerator agnostic machine learning library."
sourceUrl: "https://github.com/Reboot-Codes/taurus"
projectSite: "https://taurus.reboot-codes.com/"
pagination:
  data: collections.project:taurus
tags:
  - featuredProject
---

Accelerator agnostic machine learning library.
